// colors
$border-color: #f4f4f4;
$rim-color: #d1d1d1;
$tag-background-color: white;
$tag-color: black;
$meta-color: grey;

// sizes

$search-item-icon-margin-right: 0.6rem;
$search-pane-font-size: 0.8rem;
$paging-control-margin: 0.4rem;
